<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <title>Pesquisa de satisfação - Empresa XYZ</title>
</head>

<body class="bg-secondary">

  <div class="container-fluid my-4">
    <h1 class="text-center p-2 my-4">Empresa XYZ</h1>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-7">
        <div class="form-control border-end-0 border-start-0 border-top-0">
          <h2 class="fw-bold py-3 px-2">Pesquisa de Satisfação</h2>
        </div>

        <div class="form-control">
          <span for="solAtend" class="fw-bold">1. Sua solicitação foi atendida?</span>

          <div class="form-check ">
            <input type="radio" class="form-check-input" id="solAtend3" name="solAtend" checked>
            <label for="solAtend3" class="form-check-label">totalmente atendida</label>
          </div>

          <div class="form-check">
            <input type="radio" class="form-check-input" id="solAtend2" name="solAtend">
            <label for="solAtend2" class="form-check-label">parcialmente atendida</label>
          </div>

          <div class="form-check mb-3">
            <input type="radio" class="form-check-input pe-auto" id="solAtendida1" name="solAtend">
            <label for="solAtend1" class="form-check-label">não foi atendida</label>
          </div>
        </div>

        <div class="form-control border-end-0 border-start-0">
          <span for="notaAtend" class="fw-bold">2. Qual nota você daria para o atendimento?</span>

          <div class="form-check ">
            <input type="radio" class="form-check-input" id="notaAtend5" name="notaAtend" checked>
            <label for="notaAtend5" class="form-check-label">excelente</label>
          </div>

          <div class="form-check">
            <input type="radio" class="form-check-input" id="notaAtend4" name="notaAtend">
            <label for="notaAtend4" class="form-check-label">bom</label>
          </div>

          <div class="form-check">
            <input type="radio" class="form-check-input" id="notaAtend3" name="notaAtend">
            <label for="notaAtend3" class="form-check-label">aceitável</label>
          </div>

          <div class="form-check">
            <input type="radio" class="form-check-input" id="notaAtend2" name="notaAtend">
            <label for="notaAtend2" class="form-check-label">ruim</label>
          </div>

          <div class="form-check mb-3">
            <input type="radio" class="form-check-input" id="notaAtend1" name="notaAtend">
            <label for="notaAtend1" class="form-check-label">péssimo</label>
          </div>
        </div>

        <div class="form-control border-end-0 border-start-0">
          <span for="compAtend" class="fw-bold">3. Como você classificaria o comportamento do atendente?</span>

          <div class="form-check ">
            <input type="radio" class="form-check-input" id="compAtend5" name="compAtend" checked>
            <label for="compAtend5" class="form-check-label">muito atencioso</label>
          </div>

          <div class="form-check">
            <input type="radio" class="form-check-input" id="compAtend4" name="compAtend">
            <label for="compAtend4" class="form-check-label">educado</label>
          </div>

          <div class="form-check">
            <input type="radio" class="form-check-input" id="compAtend3" name="compAtend">
            <label for="compAtend3" class="form-check-label">neutro</label>
          </div>

          <div class="form-check">
            <input type="radio" class="form-check-input" id="compAtend2" name="compAtend">
            <label for="compAtend2" class="form-check-label">mau humorado</label>
          </div>

          <div class="form-check mb-3">
            <input type="radio" class="form-check-input" id="compAtend1" name="compAtend">
            <label for="compAtend1" class="form-check-label">indelicado</label>
          </div>
        </div>

        <div class="form-control pb-4 border-end-0 border-start-0">
          <label for="idRange" class="form-label fw-bold">4. De 0 à 10, qual nota você daria para o produto:</label>
          <input type="range" class="form-range" id="idRange" name="nmRange" min="0" max="10" value="5">
          <output name="nmOut" for="idRange">5</output>
        </div>

        <div class="form-control pb-4 border-end-0 border-start-0">
          <label for="age" class="form-label fw-bold">5. Informe sua idade: </label>
          <input type="number" class="form-control" id="age" name="age" placeholder="idade">
        </div>

        <div class="form-control border-end-0 border-start-0">
          <span for="gender" class="fw-bold">6. Informar seu gênero: </span>

          <div class="form-check ">
            <input type="radio" class="form-check-input" id="idRadio2" name="gender" checked>
            <label for="idRadio2" class="form-check-label">Feminino</label>
          </div>

          <div class="form-check mb-3">
            <input type="radio" class="form-check-input" id="idRadio1" name="gender">
            <label for="idRadio1" class="form-check-label">Masculino</label>
          </div>
          <button type="submit" class="btn btn-success">Enviar</button>
        </div>
      </div>
    </div>
  </div>
  </div>



  <div class="container">
    <p class="text-center p-2 my-0">&copy; Empresa XYZ</p>
  </div>


</body>

</html>